In [2]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))
#NameError: name 'Math' is not defined

4.0

In [ ]:
#2.Find the error in the following Python code:
#def my_function():
#    x += 5
#    print(x)

#x = 10
#my_function()

In [17]:
def my_function():
    x = 10  # Assign a value to x first
    x += 5  # Now modify it
    print(x)

my_function()

15

In [21]:
#3.
x = 5
if x == 10:
    print("x is 10")

In [22]:
numbers = [5, 3, 8, 2]
print(numbers.sort())

None

In [6]:
#5.
#def square(n):
#    n * n

#print(square(4))
#no return function

16

In [7]:
def square(n):
   return n * n

print(square(4))

16

In [8]:
#6.
#my_tuple = (1, 2, 3)
#my_tuple[1] = 5
TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [9]:
my_tuple = (1, 5, 3)
print(my_tuple)

(1, 5, 3)

In [ ]:
#7.
#name = "Alice"
#age = 25
#print("My name is %s and I am %d years old" % (name))

In [10]:
#7.
#name = "Alice"
#age = 25
#print("My name is %s and I am %d years old" % (name))
#TypeError: not enough arguments for format string

TypeError: not enough arguments for format string

In [11]:
#7.
#name = "Alice"
#age = 25
#print("My name is %s",name and I am %d years old" % (name))
#SyntaxError: unterminated string literal (detected at line 5)

SyntaxError: unterminated string literal (detected at line 5) (2765973133.py, line 5)

In [12]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 25 years old

In [14]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

Lists are equal

In [15]:
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [17]:
#9.
for i in range(5, 1):
    print(i)

In [18]:
for i in range(5, 1, -1):  # Adding step -1
    print(i)

5
4
3
2

In [19]:
#10.
#student = {"name": "John", "age": 20}
#print(student[name])
#KeyError: 'Alice'

KeyError: 'Alice'

In [22]:
student = {"name": "John", "age": 20}
print(student["name"])  # Corrected: Use quotes around "name"

John